[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=/opt/brave-bin/brave --app=https://www.youtube.com --profile-directory=Default
Icon=brave-agimnkijcaahngcdmfeangaknmldooml-Default
StartupWMClass=brave-www.youtube.com__-Default
Actions=Search;Shorts;Subscriptions

